<head>
 <link href='https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap' rel='stylesheet' type='text/css'>
</head>




<body class="noir">
  <div class="row justify-content-center">
      <div class="container-image img-thumbnail">
        <%= cl_image_tag @politician.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
  </div>

      <div class="containers">
      </div>
        <p class="pam"><%= @politician.name %> | Opinions</p>
 <% @opinions.each do |opinion| %>
 <div class=“category-cards”>
    <div class="category-cardes">
      <div class="left-category-cardes">
      <img src="<%= opinion.theme.title %>"/>
    </div>

      <div class="right-category-card">
          <p><%= opinion.content %></p>
          <h1><%= link_to 'Read full article', opinion.opinion_url %></h1>
      </div>
  </div>
  <% end %>
</body>

<div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="voteModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header bg-dark">
      <h2 class="fw-bold">We'd welcome your feedback!</h2>
    </div>

    <div class="modal-body bg-dark pt-0"> <a href="/surveys">
      <img src="https://cdnassets.hw.net/55/b6/90c00dfe4d31892f64d8ad4a9c42/adobestock-298675855.jpeg" alt="BFOpen" class="img-fluid rounded z-depth-2"></a></div>
        <div class="text-center px-4 bg-dark text-white pt-0">
        </div>

          <div class="modal-footer bg-dark">
            <button type="button" class="btn btn-outline-white" data-mdb-dismiss="modal">
            <a href="/surveys" style="background-color: #FD6262 !important;" class="btn btn-secondary">Yes, I want to make my voice heard</a>
            </button>
            <a id="closePopup"> No, my voice doesn't matter</a>
          </div>
    </div>
</div>
</div>
