<head>
 <link href='https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap' rel='stylesheet' type='text/css'>
</head>

<body class="noir">
  <div class="row justify-content-center">
      <div class="container-image img-thumbnail">
        <%= cl_image_tag @politician.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
  </div>

      <div class="containers">
      </div>
        <p class="pam"><%= @politician.name %> | Opinions</p>
 <% @opinions.each do |opinion| %>
 <div class=“category-cards”>
    <div class="category-cardes">
      <div class="left-category-cardes">
      <img src="<%= opinion.theme.title %>"/>
    </div>

      <div class="right-category-card">
          <p><%= opinion.content %></p>
          <h1><%= link_to 'See more..', opinion.opinion_url %></h1>
      </div>
  </div>
  <% end %>
</body>
