<div class="card-element" style="top:<%= props[:top] %>px;right:<%= props[:right] %>px">
  <%= image_tag props[:url_img] %>
  <h4><%= props[:title] %> </h4>
  <p> <%= props[:content] %>  </p>
  <hr/>
</div>
