<div class="container-cover">
  <div class="row justify-content-center">
      <div  class="img-thumbnail">
        <%= cl_image_tag @politician.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
  </div>
  <div class = "container-news">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <h1>News : <%= @politician.name %></h1>
              <div  class="img-thumbnail">
                <ul>
                  <% @news.each do |news| %>
                      <li><%= news.title %></li>
                      <h2><%= link_to 'Read full article...', news.news_url %></h2>
                  <% end %>
                </ul>
              </div>
          </div>
      </div>  
  </div>
</div>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <%= simple_form_for [@politician, @comment], remote: true do |f| %>
                <div class="input-co">
                Laisser un commentaire
                <%= f.input :content, input_html: { class: 'input-comment' } %>
                </div>
                <%= f.submit class: 'btn btn-primary' %>
            <% end %>
          </div>
        <div class="col-sm-6 offset-sm-3">
        <div class="container-comment">
          
            <ul class="list-group list-group-flush">
              <% @comments.each do |c| %>
              <br/>  <li class="list-group-item">  <%= c.content %></li>
              <% end %>
            </ul>
          </div>
        </div>
  </div>
</div>