<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7 bio-container">
      <strong>Description :</strong>
      <p> <%= @politician.bio %> </p>
    </div>
    <div class="col-sm-4">
      <%= cl_image_tag @politician.photo.key, height: 300, width: 400, crop: :fill, gravity: :face %>
      <h1><%=  @politician.name %></h1>
      <div class="popularity">
        <p> <strong> Popularity Level  </strong> : <%= @politician.moyenne %> </p>
        <% @politician.moyenne.times do %>
          <span class="fa fa-star filled" ></span>
        <% end %>
         <% (5 -@politician.moyenne).times do %>
          <span class="far fa-star" ></span>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="d-flex justify-content-center r4">
        <%= link_to "News", politician_news_index_path(@politician), class:"btn btn-ghostt" %>
        <%= link_to "Opinions", politician_opinions_path(@politician), class:"btn btn-ghostt" %>
      </div>
    </div>
  </div>
</div>
