<div class="politician-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 bio-container">
        <h2><strong>BIO </strong></h2>
        <p> <%= @politician.bio %> </p>
        <div class="d-flex justify-content-center r4">
          <%= link_to "News", politician_news_index_path(@politician), class:"btn btn-ghostt" %>
          <%= link_to "Opinions", politician_opinions_path(@politician), class:"btn btn-ghostt" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <%= cl_image_tag @politician.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="politician-name">
            <h2><%= @politician.name %> </h2>
          </div>
          <div class="popularity">
            <p> <% @politician.moyenne %> </p>
            <% @politician.moyenne.times do %>
              <span class="fa fa-star filled" ></span>
            <% end %>
            <% (5 -@politician.moyenne).times do %>
              <span class="far fa-star" ></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
