<!DOCTYPE html>
<html>
  <head>
    <title>Politbaro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body class="dark">

    <%= render 'shared/navbar' %>
      <div style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/politbaro/image/upload/v1636645932/Abdelhak%20politicans%20/background_homepage_1_igpuci.webp);">
        <%= yield %>
      </div>
      <hr style="padding-top:100px">
      <%= render 'shared/footer' %>


  </body>
</html>
